*.pyc
test_out/
*output/
test_data/*.pkl
*test_data/*.pkl



notebooks/developer/BaselTMA*
notebooks/developer/roi*
**/.ipynb_checkpoints
__pycache__
*~
*~*
*discard*
**/__pycache__
notebooks/.ipynb_checkpoints*
.DS_Store
.idea/*
*archive*
env/
env_backup/
.$*
*.tar
demo/
manual/
